*.bak
bashtest.sh
datasalerBU.txt
datasaler.json
datasaler.txt
datasaler.txt.save
index.html
innlogging.db
innloggingserverBU.py
#innloggingserver.py
innloggingserver.py.save
innloggingserver.py.save.1
#innloggServerLauncher.sh
lagdatabase2.py
log.txt
modDb.py
#oppdaterUbuntu.py
printdb.py
pTider.py
pTider.py.save
#README.md
SQLite format 3
tableScript2.js
testOut.txt
testserver.py
ubuntuLogin.sh
updateDbLinux.py
#updatePingdb.py
www
